# buildout things
bin
eggs
parts
downloads
develop-eggs
.installed.cfg

# eggs files
agenda.egg-info/

# temp files
*.sw*
*.pyc
*~

# configuration files
agendadulibre
agenda/media/banners/
build.log
etc
var
agenda/production.py
agenda/development.py

# Development database
agendadulibre.sqlite

# Images uploaded by users on events
agenda/media/event_images

# Git things
*.orig

#Personnalisations accoord Sous Copyright

agenda/media/img/accueil-image-carte.png
agenda/media/img/accueil-image-de-fond.jpg
agenda/media/img/logo-accoord.png
agenda/media/img/logo.png