# buildout things
bin
eggs
parts
downloads
develop-eggs
.installed.cfg

# eggs files
agenda.egg-info/

# temp files
*.sw*
*.pyc
*~

# configuration files
agendadulibre
agenda/media/banners/
build.log
agenda/production.py
agenda/development.py
etc
agendadulibre.sqlite
