{% extends "base.html" %}

{% load i18n %}

{% block content %}
  <h2>{% trans "À propos de l'Agenda de l'Accoord" %}</h2>
  <h3>{% trans "Pourquoi?" %}</h3>
  <p>
    {% blocktrans %}
      L'Accoord propose une grande variété d'événements tout au long de l'été. Il nous a paru utile de publier sous une forme calendaire, par grand quartier Nantais, l'actualité des animations proposées.
    {% endblocktrans %}
  </p>

  <h3>{% trans "Comment?" %}</h3>
  <p>
    {% blocktrans %}
      L'Agenda de l'été à l'Accoord est un fork de l'<a href="http://agendadulibre.qc.ca">Agenda du Libre du Québec</a>. Au delà de la personnalisation et de quelques corrections, nous avons rajouté une sélection par groupe de lieux et surtout rendu privée l'interface pour proposer un événement.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}
      Cette version est disponible sous licence <a href="http://www.fsf.org/licensing/licenses/agpl-3.0.html">GNU Affero General Public License</a>.  C'est une licence qui est plus restritive que la <a href="http://www.fsf.org/licensing/licenses/gpl-3.0.html">GNU General Public License</a> dû au fait qu'elle oblige les applications accessibles via le Web à rendre leur code source disponible. Le code source est disponible <a href="https://github.com/vcorreze/agendaEteAccoord">sur Github</a>.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}
      L'Agenda de l'Accoord est administré par <a href="https://www.accoord.fr">l'Accoord</a>.
    {% endblocktrans %}
  </p>
  <h3>{% trans "Historique" %}</h3>
  <ul>
	  <li>{% trans "2 mai 2017" %}
        <ul>
          <li>{% trans "Mise en service version 2017" %}</li>
          <li>{% trans "Changement de la modération par défaut" %}</li>
        </ul>
      </li>

      <li>{% trans "20 juin 2016" %}
		  <ul>
			  <li>{% trans "Ouverture du site au public" %}</li>
			  <li>{% trans "Ajouts de fonctionnalités (cartes, éditeur)" %}</li>
		  </ul>
	  </li>

    <li>{% trans "31 mars 2016" %}
      <ul>
        <li>{% trans "Mise en ligne du site pour l'Accoord" %}</li>
      </ul>
    </li>
  </ul>
{% endblock %}
