{% load banner %}
{% load i18n %}

<?xml version="1.0" encoding="utf-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    {% block title %}
      <title>{% trans "L'Agenda de l'Accoord" %}</title>
    {% endblock title %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="google-site-verification" content="rz4d48R0H-Yiap5gO405faHZiTN-MiLNkkmlbhjsNSY" />
    <link rel="stylesheet" type="text/css" href="/media/moderne.css" title="Moderne" />
    <link rel="shortcut icon" type="image/x-icon" href="/media/img/favicon.png" />
    {% block feeds %}
    {% endblock feeds %}
    <link rel="alternate"
          href="/event/feeds/latest/"
          title="{% trans "L'Agenda de l'Accoord, nouveaux événements" %}"
          type="application/rss+xml" />
    <link rel="alternate"
          href="/event/feeds/upcoming/"
          title="{% trans "L'Agenda de l'Accoord, prochains événements" %}"
          type="application/rss+xml" />
    <link rel="alternate"
          href="/event/calendar/"
          title="{% trans "L'Agenda de l'Accoord, calendrier numérique" %}"
          type="text/calendar" />
  </head>

  <body>
    <div class="header">
      <a href="/"><img class="logo" src="/media/img/logo.png"/></a>
      <div class="actions">
        {% block actions %}
        <div class="action">
          <a href="/event/feeds/">
            <img src="/media/img/rss.png" />
          </a>
          <a href="/event/feeds/">{% trans "Fils RSS et iCal" %}</a>
        </div>
        <div class="action">
          <a href="/event/new/">
            <img src="/media/img/appointment-new.png" />
          </a>
          <a href="/event/new/">{% trans "Proposer un événement" %}</a>
        </div>
        {% endblock %}
        {% if user.is_authenticated %}
          <div class="action">
            <a href="{% url 'moderate_my_events' %}">
            <img src="/media/img/appointment-new.png" />
            </a>
            <a href="{% url 'moderate_my_events' %}">{% trans "Modération" %}</a>
          </div>
          <div class="action">
            <a href="/logout">
              <img width="16" src="/media/img/login.png" />
            </a>
            <a href="/logout/">{% trans "Déconnexion" %}</a>
          </div>
        {% endif %}
        {% comment %}
          <div class="language-selector action" style="margin-top: 4px; margin-left: 20px;">
            <form action="/i18n/setlang/" method="post">{% csrf_token %}
              <input name="next" type="hidden" value="{{ redirect_to }}" />
              <select name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% for code, language in LANGUAGES %}
                <option value="{{ code }}" {% if code == LANGUAGE_CODE %}selected="selected"{% endif %}>{{ language }} ({{ code }})</option>
                {% endfor %}
              </select>
              <input type="submit" value="Go" />
            </form>
          </div>
        {% endcomment %}
      </div>
      <h1>
        <a href="/">{% trans "L'Agenda de l'Accoord" %}</a>
      </h1>
      <p id="subtitle">{% trans "Association pour la réalisation d'activités éducatives, sociales et culturelles de la ville de Nantes " %}</p>
    </div>
    <div class="main">
      {% block content %}
      {% endblock content %}
    </div>
    <div class="footer">
      <p>
        <a href="{% url 'index' %}">
          {% trans "Agenda" %}
        </a> -
        <a href="{% url 'about' %}">
          {% trans "À propos" %}
        </a> -
        <a href="{% url 'propose' %}">
          {% trans "Proposer un événement" %}
        </a> -
        {% if user.is_authenticated %}
          <a href="{% url 'moderate_my_events' %}">
            {% trans "Modération" %}
          </a> -
        {% endif %}
        <a href="{% url 'feed_list' %}">
          {% trans "Fils RSS et iCal" %}
        </a> -
        <a href="{% url 'stats' %}">
          {% trans "Statistiques" %}
        </a> -
        <a href="mailto:agenda@accoord.fr">
          {% trans "Contact" %}
        </a>
      </p>
      <br />
      <!-- Twitter button -->
      <a href="https://twitter.com/accoordnantes" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false">Follow @agendadulibre</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
    {% block before_end_body %}{% endblock %}
  </body>
</html>
