{% extends "base.html" %}

{% load calendar %}
{% load i18n %}

{% block extrahead %}
  {% if view_type == 'map' or view_type == 'full_map' %}
    <link rel="stylesheet" href="/media/js/leaflet/leaflet.css" />
    <script src="/media/js/leaflet/leaflet.js"></script>

    <link rel="stylesheet" href="/media/js/Leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="/media/js/Leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <script src="/media/js/Leaflet.markercluster/dist/leaflet.markercluster.js"></script>

    <script src="/media/js/map.js"></script>
  {% endif %}
{% endblock extrahead %}

{% block bodyclass %}{% if region %}grand-quartier-{{ region.pk }}{% endif %}{% if is_home_page %}home-page{% endif %}{% endblock bodyclass %}

{% block mainh1 %}{% if region %}<a href="?region={{ region.pk }}">{{ region }} / </a>{% endif %}{% endblock mainh1 %}

{% block feeds %}
  {% if region %}
    <link rel="alternate" href="/event/feeds/latest_region/{{ region.id }}/"
          title="{% blocktrans %}L'Agenda de l'Accoord, nouveaux événements pour {{ region.name }} {% endblocktrans %}"
          type="application/rss+xml" />
    <link rel="alternate"
          href="/event/feeds/upcoming_region/{{ region.id }}/"
          title="{% trans "L'Agenda de l'Accoord, prochains événements pour" %} {{ region.name }}"
          type="application/rss+xml" />
  {% endif %}
{% endblock %}

{% block content %}

  {% if not is_home_page %}

    {% if region %}

        {% comment %} Region's calendar or map {% endcomment %}
        <h2 class="calendar">
          <a href="{% url 'month_view' previous_month.year previous_month.month %}?region={{ region.id }}&city={{ city.id }}&view_type={{ view_type }}"
             title="{% trans 'Aller au mois de' %} {{ previous_month|date:"F Y" }}"><img id="arrow" src="/media/img/go-previous.png"></a>
          {{ month|date:"F Y" }}
          <a href="{% url 'month_view' next_month.year next_month.month %}?region={{ region.id }}&city={{ city.id }}&view_type={{ view_type }}"
             title="{% trans 'Aller au mois de' %} {{ next_month|date:"F Y" }}">
             <img id="arrow" src="/media/img/go-next.png">
          </a>
        </h2>

        <form id="filter">
          <strong>Quartier {{ region }} : </strong>
          {{ form.city }}

          {% if view_type == 'calendar' %}
             <a href="{% url 'month_view' month.year month.month %}?region={{ region.id }}&city={{ city.id }}&view_type=map"
                class="view-link" title="Afficher la carte"
             ><img src="/media/img/icon-view-map.png" alt="Afficher la carte" /> Afficher la carte</a>
          {% else %}
             <a href="{% url 'month_view' month.year month.month %}?region={{ region.id }}&city={{ city.id }}&view_type=calendar"
                class="view-link" title="Afficher le calendrier"
             ><img src="/media/img/icon-view-calendar.png" alt="Afficher le calendrier" /> Afficher le calendrier</a>
          {% endif %}

          {{ form.region }}
          <input type="hidden" name="view_type" value="{{ view_type }}" />
          <noscript><input type="submit" value="{% trans 'Appliquer' %}" /></noscript>
        </form>

        <br />

        {% if view_type == 'map' %}
          {% month_cal_map month.year month.month region city %}
        {% endif %}

        {% if view_type == 'calendar' %}
          {% month_cal month.year month.month region city %}
        {% endif %}

        <p style="text-align: center">
          <strong>Choisir un autre grand quartier : </strong>
          {% for r in regions %}
            <a href="?region={{ r.pk }}&view_type={{ view_type }}" title="{{ r }}">{{ r }}</a>
            {% if not forloop.last %} - {% endif %}
          {% endfor %}
          {% if view_type == 'map' %}
            <br />
            <strong><a href="?region=-1&view_type=map" title="{{ r }}">Voir la carte de tous les quartiers</a></strong>
          {% endif %}
        </p>

    {% else %}

        {% comment %} Map for all regions {% endcomment %}
        <h2 class="calendar">
          <a href="{% url 'month_view' previous_month.year previous_month.month %}?region=-1&view_type=map"
             title="{% trans 'Aller au mois de' %} {{ previous_month|date:"F Y" }}"><img id="arrow" src="/media/img/go-previous.png"></a>
          {{ month|date:"F Y" }}
          <a href="{% url 'month_view' next_month.year next_month.month %}?region=-1&view_type=map"
             title="{% trans 'Aller au mois de' %} {{ next_month|date:"F Y" }}">
             <img id="arrow" src="/media/img/go-next.png">
          </a>
        </h2>

        {% month_cal_map month.year month.month %}

        <p style="text-align: center">
          <strong>Choisir un grand quartier : </strong>
          {% for r in regions %}
            <a href="?region={{ r.pk }}&view_type={{ view_type }}" title="{{ r }}">{{ r }}</a></strong>
            {% if not forloop.last %} - {% endif %}
          {% endfor %}
        </p>

    {% endif %}

  {% else %}

    <div style="width: 100%; text-align: center">

      <div id="homepage-carte-container">
        <a href="?region=2" id="homepage-carte-nord" title="L'agendu du grand quartier Nord">Nord</a>
        <a href="?region=3" id="homepage-carte-est-erdre" title="L'agendu du grand quartier Est Erdre">Est Erdre</a>
        <a href="?region=0" id="homepage-carte-centre-sud" title="L'agendu du grand quartier Centre Sud">Centre Sud</a>
        <a href="?region=1" id="homepage-carte-ouest" title="L'agendu du grand quartier Ouest">Ouest</a>
        <img src="/media/img/accueil-image-carte.png" alt="Carte des grands quartiers" />
      </div>

      <div id="homepage-quartier-equipements-container">
        {% for r in regions %}
          <div class="grand-quartier-{{ r.pk }}">
            <strong><a href="?region={{ r.pk }}" title="{{ r }}">{{ r }}</a></strong> :
            {% for c in r.cities.all %}
              <a href="?region={{ r.pk }}&city={{ c.pk }}" title="{{ c }}">{{ c }}</a>
              {% if not forloop.last %} - {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>

    </div>

  {% endif %}


{% endblock %}
